.analytis-layout-entity-list
	.box.box-warning
		.box-header
			h3.box-title
				span.mr-5 {{ title || "Top 10 Country by Current Viewers"}}
				i.fa.fa-question-circle(sbd-tooltip ng-value='title')
			.clearfix
		.box-body
			.row.mr-bottom-30
				.col-md-6.text-left
					ul.nav.nav-tabs.smaller.inline.display-inline
						li.nav-item( ng-repeat='ite in navTabType' ng-class=' { "active": $first }')
							a.nav-link(data-toggle='tab', href='#uniqueUsers', aria-expanded='true' ng-click='ite.action()') {{ite.title}}
				.col-md-6.text-right
					ul.nav.nav-tabs.smaller.inline.display-inline.pull-right
						li.nav-item( ng-repeat='ite in navTabRight' ng-class=' { "active": $first }')
							a.nav-link(
							ng-if='ite.type != "select"'
							data-toggle='tab', href='#uniqueUsers', aria-expanded='true' ng-click='ite.action()') {{ite.title}}

					select.form-control.mr-5.nav.nav-tabs(
					style='display: inline; width: 50px;'
					ng-if='navTabRight[2].type == "select"'
					ng-model='navTabRight[2].key'
					ng-init='navTabRight[2].key = "20"'
					ng-change="navTabRight[2].action(navTabRight[2].key)"
					)
						option(ng-repeat="opt in navTabRight[2].options" value='{{opt}}') {{opt}}
			.row
				.col-md-9.div-show-geo-chart
					.google-chart(
					ng-if='loaded == true'
					style='width:100%; height:100%;'
					google-chart
					chart="optionChart"
					)
				.col-md-3
					.layout-list-top-10-country.mt-5
						table.table
							tr(ng-if='topCountry.length <= 0')
								td(colspan=3) There is not enough data to analyze
							tr(ng-repeat='ite in topCountry')
								td
									span.badger-order(ng-class='$index < 3 ? "active" : "" ') {{$index + 1}}
								td
									span.text-capitalize(ng-class='$index < 3 ? "text-bold bold highline" : ""')
										|{{ite.country_name || ite.city_name}}
								td
									span(ng-class='$index < 3 ? "text-bold bold highline" : ""') {{ite.total_duration | secondToTime:"hh:mm:ss"}}
									span(ng-class='$index < 3 ? "text-bold bold highline" : ""') {{ite.total_views | number:"":0}}