.box.box-danger
	.box-header
		h3.box-title(style='display:block; width:100%;')
			i.fa.fa-check
			span.mr-5 {{title || "Data table"}}
			i.fa.fa-question-circle(sbd-tooltip ng-value='dataTooltip' ng-if='dataTooltip')
			button.btn.btn-primary.pull-right.mr-right-10(ng-click='actionDownload()'
			ng-if='actionDownload')
				|Download Excel
		.clearfix
	.box-body
		.total-summary-each-module
			.row
				.col-md-12
					table(class='table table-striped table-hover')
						thead
							tr
								th(ng-repeat='frm in formTable' ) {{frm.title}}
						tbody
							tr(ng-repeat='ite in dataTable' )
								td(ng-repeat='frm in formTable' )
									span(ng-if='frm.type == "text" ') {{ (ite[frm.key] ) }}
									span(ng-if='frm.type == "number" ') {{ (ite[frm.key] ) | number : 0 }}
									span(ng-if='frm.type == "percent" ') {{ (ite[frm.key] ) | number : 2  }} %
									span(ng-if='frm.type == "time" ') {{ (ite[frm.key]) | secondToTime : 'hh:mm:ss' }}
				.col-md-12.text-right
					.layout-pagination
						uib-pagination.table-records-pages(
						total-items='pagination.totalItems',
						ng-model='pagination.currentPage',
						items-per-page='pagination.limit'
						ng-change="pagination.onPageChange()"
						max-size="7"
						boundary-links="true"
						rotate="false"
						first-text='«'
						last-text = '»'
						next-text ='›'
						previous-text= '‹'
						)
