.element-box.margin-top-20
	.row
		.col-md-12
			ul.nav.nav-tabs
				li.nav-item(ng-class='{"active" : typeView == "performance"}'
				ng-click='typeView = "performance"')
					a.nav-link(href='javascript:void(0);'
					ng-class='{"active" : typeView == "performance"}') Performance

				//li.nav-item(ng-class='{"active" : typeView == "engament"}'
				//ng-click='typeView = "engament"')
				//	a.nav-link(href='javascript:void(0);' ng-class='{"active" : typeView == "engament"}') Engament

				li.nav-item(ng-class='{"active" : typeView == "reach"}'
				ng-click='typeView = "reach"')
					a.nav-link(href='javascript:void(0);' ng-class='{"active" : typeView == "reach"}') Reach

				li.nav-item(ng-class='{"active" : typeView == "playthought"}'
				ng-click='typeView = "playthought"')
					a.nav-link(href='javascript:void(0);' ng-class='{"active" : typeView == "playthought"}') Play Through

		.col-md-12
			.row
				.col-md-6
					table.table.table-striped.mt-4
						tbody
							tr(ng-repeat='ite in statisticForm')
								td {{ite.title}}
								td
									i.fa.fa-question-circle(ng-if='ite.description' uiza-tooltip ng-value='ite.description')
								td
									.margin-bottom-5(ng-if='ite.label')
										span {{ite.label}}
									.margin-bottom-5(ng-if='ite.subLabel')
										span.sub-label {{ite.subLabel}}
								td
									.margin-bottom-5(ng-if='ite.key')
										span(ng-if=' ite.type == "percent" && statistic[ite.key]*100 != 100 ') {{  (statistic[ite.key]*100) | number : 2 }}%
										span(ng-if=' ite.type == "percent" && statistic[ite.key]*100 == 100 ') {{ (statistic[ite.key]*100) | number : 0 }}%
										span(ng-if=' ite.type == "number"') {{statistic[ite.key] | number:0 }}
										span(ng-if=' ite.type == "time" ') {{statistic[ite.key] | secondToTime : 'hh:mm:ss' }}
									.margin-bottom-5(ng-if='ite.subKey')
										span.sub-label(ng-if=' ite.type == "percent"') {{statistic[ite.subKey] }}
										span.sub-label(ng-if=' ite.type == "number"') {{statistic[ite.subKey] | number:0 }}
										span.sub-label(ng-if=' ite.type == "time"') {{statistic[ite.subKey] | secondToTime : 'hh:mm:ss' }}
				.col-md-6
					.row
						.col-md-12
							.clearfix.margin-top-10
							ul.nav.nav-pills.smaller.pull-left
								li.nav-item
									a.nav-link.active(data-toggle='tab', href='#uniqueUsers', aria-expanded='true'
									ng-click='onChangeDayWeekMonth("1d")') Day
								li.nav-item
									a.nav-link(data-toggle='tab', href='#playRequested', aria-expanded='false'
									ng-click='onChangeDayWeekMonth("1w")') Week
								li.nav-item
									a.nav-link(data-toggle='tab', href='#hourWatched', aria-expanded='false'
									ng-click='onChangeDayWeekMonth("1M")') Month
							.clearfix.margin-bottom-20
						.col-md-12
							.clearfix
							canvas#businessStatisticChart( width="500" height="500")


